@import "compass/css3";

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Gilroy', sans-serif;
	/*overflow-x: hidden;*/
}
.main {
	height: 2209px;
	/*margin-top: 0;*/
	background: url(..//img/grey-white-abstract-ballerina.png) no-repeat top;
	background-size: cover;
	display: flex;
	/*position: relative;*/
}
.header {
	min-width: 100%;
	position: absolute;
}
.logo {
	width: 324px;
	height: 70px; 
	/*max-width: 100%;*/
	background: url(..//img/logo-white.png) no-repeat center/100%;
	margin: 50px auto 80px auto;
}

.navbar {
	max-width: 65%;
	margin: auto;
}
.navbar ul {
	/*margin: auto;*/
	list-style: none;
  display: flex;
  
  justify-content: space-between;

	font-size: 20px;
	font-weight: 300;
	line-height: 37px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.navbar ul li a {
 text-decoration: none;
 color: white;
	margin: 0 30px 0 5px; /* отступы между ссылками */
}

.social {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
}
.social li {
	list-style: none;
	margin-right: 25px;
	margin-bottom: 20px;
}
.social li img {
	width: 35px;
	height: 35px;
}
#phone img {
	width: 21px;
	height: 21px;
}
#phone {
	width: 45px;
	height: 45px;
	background-color: #05937d;

	margin-bottom: 129px;
	margin-top: -20px;
	line-height: 55px;
	text-align: center;
	border-radius: 50%;
}
#rectangle {
	width: 2px;
	height: 240px;
	background-color: #ffffff;
	opacity: 0.11;
	margin-top: -300px;
	margin-right: 47px;
}

.title {
	/*width: 1150px;
	height: 74px;*/
	width: 100%;
	color: #13b79e;
	font-family: 'Cheque', serif;
	font-size: 40px;
	font-weight: 900;
	line-height: 123px;
	text-transform: uppercase;
	/*text-align: center;*/
	margin-top: -200px;
	display: flex;
	justify-content: center;
}
.title h1 {

}

.scroll {
	width: 70px;
	height: 150px;
	text-transform: uppercase;
	display: flex;
	/*align-self: center;*/
	margin: auto; 
	 /*border: 1px solid white; */
	align-items: flex-end; 
	justify-content: space-around; 
	flex-flow: column;
}
#rect {
	width: 80%;
	height: 100%;
	/*display: flex;*/
	/*margin: auto;*/
	margin-right: 9%;
	margin-bottom: 1px;
	border: 1px solid white;
	border-bottom: none;
	/*align-items: flex-end;*/
	/*justify-content: space-around;*/
}
.scroll p {
	color: white;
	font-family: "Abraham Lincoln", serif;
	font-size: 18px;
	/*font-weight: 400;*/
	/*line-height: 50px;*/
}
.scroll img {
	align-self: center;
	margin-top: 45px;
}